/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html,
body {
margin:0;
padding:0;
height:100%;
}
.header
{

  background-color: 	 #336699;
  padding: 10px;
  padding-bottom:20px;
  height: 40px;

}


h1
{color: 	 #336699;
  
}

.header a
{
color: #ffffff;
}

.header a:visited {
color: #ffffff;
}
.header a:hover
{
background-color: #006699;
  float: none;
  
}
.signout
{


}
.wrapper {
min-height:100%;
position:relative;
}
h2
{

  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 29px;
  color:#ffffff;
  line-height: 18px;

}
.content {
padding:10px;
padding-bottom:90px; /* Height of the footer element */
}
.footer
{
     color: #ffffff;
  width:100%;
height:40px;
position:absolute;
bottom:0;
left:0;
background-color: 	 #336699;



     }